<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="DefaultConnection" connectionString="Data Source=sfp-bddev01.sfp.gob.mx:1521/DESA.sfp.gob.mx;user id=COCO;password=DKhFvtg04S;" providerName="System.Data.OracleClient" />
    </connectionStrings>
</configuration>